body {
  // -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeLegibility;
  font-size: 1rem;
  background-color: #fff;
  color: #6f6f6f;
  font-family: "Roboto", sans-serif;
  // line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color: #3c3c3c;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-size: 22px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 20px;
}

p:last-child {
  margin-bottom: 0px;
}

ul,
ol {
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.listnone {
  list-style: none;
  padding: 0px;
}
