button {
  background-color: #0eb769;
  color: #ffffff;
  margin: 0 auto;
  border: 0;
  padding: 15px 25px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.375rem;
  display: block;
  font-family: "Raleway", sans-serif;

  a {
    color: #ffffff;
  }

  &:hover {
    transition: background-color 0.2s ease;
    background-color: #146c43;
  }
}
