.footer {
  background-color: #262928;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: large;
}

.footer-widget {
  color: #fff;

  a {
    color: #fff;
  }
}

.footer-widget h2 {
  color: #fff;
  font-weight: 600;
}

.widget-title {
  margin-bottom: 10px;
}

.footer-social ul li a i {
  padding-right: 10px;
  width: 30px;
}

.footer .contact li {
  margin-bottom: 15px;
}
