@import "../0.vars";

.service-small {
  h2 {
    @media screen and (min-width: $md) {
      height: 80px;
    }
  }

  img {
    width: 100%;
    max-width: 400px;
  }

  p {
    @media screen and (min-width: $md) {
      margin-bottom: 0.75rem;
      min-height: 96px;
    }

    @media screen and (min-width: $lg) {
      min-height: 72px;
    }

    @media screen and (min-width: $xxl) {
      min-height: 50px;
    }
  }
}
