.hero-section {
  margin-bottom: 60px;

  .hero-img {
    width: 324.83px;
  }

  img {
    height: 460px;
  }
}

.hero-text {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #2d3436;
  margin-top: auto;
  margin-bottom: auto;

  p {
    margin-bottom: 10px;
  }

  .small {
    font-size: 24px;
    font-weight: 400;
  }

  .medium {
    font-size: 34px;
    font-weight: 600;
  }

  .large {
    font-size: 44px;
    font-weight: 700;
    color: #27ae60;
  }

  .description {
    text-align: justify;
  }

  button {
    display: inline;
  }
}
