@import "../0.vars";

.service-title h2 {
  margin: auto;
}

.service-title {
  font-size: 20px;

  @media screen and (min-width: $md) {
    height: 80px;
    display: flex;
  }
}

.service-content p {
  @media screen and (min-width: $md) {
    min-height: 100px;
  }
}
