.tiny-footer {
  background-color: #262928;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  color: #56575e;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
}

.copyright-content {
  border-top: 1px solid #424544;
  padding: 12px;
  color: #676f6c;
  line-height: 24px;
}
